
useDynLib(SFSI, .registration=TRUE)

export(path.plot)
export(SSI)
export(SSI.CV)
export(getGenCov)
export(collect)
export(cov2dist)
export(cov2cor2)
export(penalize_cov)
export(LARS)
export(readBinary)
export(saveBinary)
export(solveEN)
export(fitBLUP)
export(Prune)
export(net)
export(multitrait.plot)
export(lowerTri)
export(upperTri)
export(unpackTri)

#Actually we are not using S4 methods...
#exportMethods(SFSI)
S3method(coef,SSI)
S3method(coef,LASSO)
S3method(fitted,SSI)
S3method(fitted,LASSO)
S3method(plot,SSI)
S3method(plot, net)
S3method(summary,SSI)

import(ggplot2)
importFrom(stats,cor,var,predict,smooth.spline,IQR,model.matrix,uniroot,runif,sd)
importFrom(utils,setTxtProgressBar,txtProgressBar,object.size)
importFrom(scales,extended_breaks)
